<div class="page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="header accent p-24 gr" fxLayout="row" fxLayoutAlign="start center">
        <app-arrow-back></app-arrow-back>
       <h2 class="text">Administrador de Módulos y Categorías</h2>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
            <div fxFlex="30">
                <app-mang-modules-list></app-mang-modules-list>
            </div>
            <div fxFlex="70">
                <app-mang-categories-list></app-mang-categories-list>
            </div>
        </div>
    </div>
    <!-- / CONTENT -->

</div>