
<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent gr"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header accent p-24 gr" fxLayout="row" fxLayoutAlign="start center">
            <div class="back" (click)="backClicked()"> <mat-icon class="s-50">arrow_back </mat-icon></div>
            <h2 class="text"> Listado de boletas disponibles</h2>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div>
                <app-forms-list></app-forms-list>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>

