<form action="" #categoryForm="ngForm">
    <h2 mat-dialog-title>{{this.title}} Categoría</h2>
    <div mat-dialog-content fxLayout="column">
        <mat-form-field appearance="fill" fxFlex="100">
            <mat-label>Nombre de la categoría</mat-label>
            <input matInput [(ngModel)]="this.category.name_category" required  id="name_category" name="name_category">
        </mat-form-field>
        <mat-form-field appearance="fill" fxFlex="100">
            <mat-label>Icono</mat-label>
            <input matInput [(ngModel)]="this.category.icon" required  id="icon" name="icon">
        </mat-form-field>
        <mat-form-field appearance="fill" fxFlex="100">
            <mat-label>Color</mat-label>
            <input matInput type="color" value="#ffffff" [(ngModel)]="this.category.color" required  id="color" name="color">
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="this.dialogRef.close()">cancelar</button>

        <button *ngIf="this.title == 'Agregar'"
            mat-raised-button
            [mat-dialog-close]="category" 
            [disabled]="!categoryForm.valid"
            cdkFocusInitial> 
            <span>Agregar</span>
        </button>

        <button *ngIf="this.title == 'Actualizar'"
            mat-raised-button
            [mat-dialog-close]="category"
            [disabled]="!categoryForm.valid" 
            cdkFocusInitial> 
            <span>Actualizar</span>
        </button>
    </div>
    <br>
</form>
