<form action="" #changePassForm="ngForm" fxLayout="column" fxLayoutAlign="start" fxFlex="100">
    <h2 mat-dialog-title style="text-align: center;">Cambiar contraseña para <br>{{this.admUser.person.first_name}}</h2>
    <div fxLayout="column"  fxFlex="100">
        <mat-form-field appearance="outline" fxFlex="100" *ngIf="this.useNewPass">
            <mat-label>Contraseña actual</mat-label>
            <input matInput [type]="type" [(ngModel)]="this.changePass.old_pass" required id="old_pass" name="old_pass">
        </mat-form-field>
        <!--<mat-error *ngIf="this.oldPassConfirm()==false">Las contraseñas actual no es la correcta</mat-error>-->
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Nueva Contraseña</mat-label>
            <input matInput [type]="type" [(ngModel)]="this.changePass.new_pass" required id="new_pass" name="new_pass">
            
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Confirmar Contraseña</mat-label>
            <input matInput [type]="type" [(ngModel)]="this.changePass.confirm_pass" required id="confirm_pass" name="confirm_pass">
        </mat-form-field>
        <mat-error *ngIf="this.coincidencia()==false">La contraseña nueva y la confirmación no coinciden</mat-error>
        <mat-hint >
            <a *ngIf="type === 'password'" href="javascript:void(0)" (click)="showInput('text')">
                <mat-icon>visibility</mat-icon> Mostrar contraseña </a>
    
            <a  *ngIf="type === 'text'" href="javascript:void(0)" (click)="showInput('pass')">
                <mat-icon>visibility_off</mat-icon> ocultar contraseña </a>
          </mat-hint>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="this.dialogRef.close()">cancelar</button>
        <button
            mat-raised-button
            [mat-dialog-close]="this.changePass" 
            [disabled]="!changePassForm.valid"
            cdkFocusInitial> 
            <span>Actualizar</span>
        </button>
      </div>
      <br>
</form>