.question-div {
    padding: 2px 20px !important;
}


.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  

.question-label {
  font-weight: bold;
}