<div class="page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="header accent p-24 gr" fxLayout="row" fxLayoutAlign="start center space-between">
        <div fxFlex="70" fxLayout="row" fxLayoutAlign="start center"><app-arrow-back></app-arrow-back><h2 class="text"> Administrador de Formularios </h2></div>
        <div fxFlex="30" fxLayoutAlign="end start"> <button (click)="open_dialog_form()" style="align-items: rigth;"  class="pink-600-fg" mat-raised-button>Agregar Formulario</button></div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <div fxFlex="25">
                    <app-forms-filter-sidebar></app-forms-filter-sidebar>
                </div>
                <div fxFlex="75">
                    <app-forms-list></app-forms-list>
                </div>
            </div>
    </div>
    <!-- / CONTENT -->

</div>
